<tr id="<%= vaccination.id %>">
<td><%= vaccination.name %></td>
<td><%= age_at_vaccination(@timeline.child.date_of_birth,vaccination.date) %> months</td>
<td><%= vaccination.date.strftime("%B %e, %Y") %> <i class="fa fa-pencil pull-right" onclick="editFunc(this,'<%= vaccination.id %>')"></i></td>
</tr>
