<% provide(:title, "Growth Charts") %>
<div hidden id="birthdate" title="<%= @chart.child.date_of_birth.strftime('%m/%d/%Y') %>"></div>
<div hidden id="gender"><%= @chart.child.gender %></div>
<div hidden id="heightDates"><%= @heights.map {|height| (height.date - height.chart.child.date_of_birth)/2628288} %></div>
<div hidden id="heightValues"><%= @heights.map {|height| height.value} %></div>
<div hidden id="weightDates"><%= @weights.map {|weight| (weight.date - weight.chart.child.date_of_birth)/2628288} %></div>
<div hidden id="weightValues"><%= @weights.map {|weight| weight.value} %></div>
<div class="container-fluid">
  <h1>Growth Charts</h1>
  <div class="row">
    <div class="col-sm-6" id="heightChart_div" style="width: 900px; height: 500px;"></div>
    <div hidden class="alert alert-info" id="heightPrompt_div" style="clear: both;">
      <Strong>Tip!</Strong>Add height measurements to see <%= @chart.child.first_name %>'s height chart
    </div>
    <div class="col-sm-6" id="weightChart_div" style="width: 900px; height: 500px;"></div>
    <div hidden class="alert alert-info" id="weightPrompt_div" style="clear: both;">
      <Strong>Tip!</Strong>Add weight measurements to see <%= @chart.child.first_name %>'s weight chart
    </div>
    <div hidden class="alert alert-info" id="bothPrompt_div">
      <Strong>Tip!</Strong>Add measurements to see <%= @chart.child.first_name %>'s growth charts
    </div>
  </div>
</div>
<div class="container-fluid">
<%= form_tag("/charts/#{params[:id]}", method: "put", id: "saveForm") do %>
	<%= hidden_field_tag(:formData, "test2") %>
	<%= submit_tag("Save Changes", class: "btn btn-default disabled", id: "saveChangesButton", onclick: "updateFormData2()") %>
<% end %>
<h3>Height/Length Growth</h3>
    <table class="table" summary="Tracking infant growth">
		<thead>
		  <tr>
			<th>Height</th>
			<th>Age</th>
			<th>Date</th>
		  </tr>
		</thead>
		<tbody id="heightBody">
		  <%= render @heights %>
		  <tr id="newHeightRow">
			<td colspan="3">
				<button type="button" class="btn btn-info" onclick="addHeight(this)">Add Height</button>
			</td>
		  </tr>
		</tbody>
</table>
<h3>Weight Growth</h3>
<table class="table" summary="Tracking infant growth">
		<thead>
		  <tr>
			<th>Weight</th>
			<th>Age</th>
			<th>Date</th>
		  </tr>
		</thead>
		<tbody id="weightBody">
		  <%= render @weights %>
		  <tr id="newWeightRow">
			<td colspan="3">
				<button type="button" class="btn btn-info" onclick="addWeight(this)">Add Weight</button>
			</td>
		  </tr>
		</tbody>
</table>
</div>
