<% provide(:title, "Growth Charts") %>
<div hidden id="birthdate" title="<%= @chart.child.date_of_birth.strftime('%m/%d/%Y') %>"></div>
<h1>Growth Charts</h1>
      <div id="wrapper">
		<!-- Create 2 tables, try to pull all relevant data -->
         <div class="chart">
            <h3>Infant height over the first two years of life</h3>
         </div>
      </div>

      <!--<div id="placeholder"></div>-->
      <div id="content">
    		<div class="demo-container">
    			<div id="placeholder" class="demo-placeholder"></div>
    		</div>

		    <p><label><input id="enableTooltip" type="hidden" checked="checked"></input></label></p>
        <button data-index="Height">Height</button>
        <button data-index="Weight">Weight</button>
	  </div>
	  
	  <div>
			<%= form_tag("/charts/#{params[:id]}", method: "put", id: "saveForm") do %>
				<%= hidden_field_tag(:formData, "test2") %>
				<%= submit_tag("Save Changes", class: "btn btn-default disabled", id: "saveChangesButton", onclick: "updateFormData2()") %>
			<% end %>
			<h3>Height/Length Growth</h3>
	        <table class="table" summary="Tracking infant growth">
					<thead>
					  <tr>
						<th>Height</th>
						<th>Age</th>
						<th>Date</th>
					  </tr>
					</thead>
					<tbody id="heightBody">
					  <%= render @heights %>
					  <tr>
						<td colspan="3">
							<button type="button" class="btn btn-info" onclick="addHeight(this)">Add Height</button>
						</td>
					  </tr>
					</tbody>
			</table>
			<h3>Weight Growth</h3>
			<table class="table" summary="Tracking infant growth">
					<thead>
					  <tr>
						<th>Weight</th>
						<th>Age</th>
						<th>Date</th>
					  </tr>
					</thead>
					<tbody>
					  <%= render @weights %>
					  <tr>
						<td colspan="3">
							<button type="button" class="btn btn-info" onclick="addHeight(this)">Add Weight</button>
						</td>
					  </tr>
					</tbody>
			</table>
	   </div>
<p>Find me in app/views/charts/show.html.erb</p>
