<tr>
<td><%= height.date %></td>
<td><%= age_at_vaccination(@chart.child.date_of_birth,height.date) %> months</td>
<td><%= height.value %> <i id="<%= height.id %>" class="fa fa-pencil pull-right" onclick="deleteHeight(this,'<%= height.id %>')"></i></td>
</tr>
