<% provide(:title, "Timeline") %>
<% provide(:extra_body_shit, raw(" data-spy='scroll' data-target='#myScrollspy' data-offset='0'")) %>
<div hidden id="birthdate" title="<%= @timeline.child.date_of_birth.strftime('%m/%d/%Y') %>"></div>
<div hidden id="milestones" title="<%= @timeline.milestones.map { |milestone| milestone.milestone_id} %>"></div>
	  <div class="row">
		<nav class="col-sm-3" id="myScrollspy">
		  <ul class="nav nav-pills nav-stacked" style="padding-top:80px;">
			<h2><%= @timeline.child.first_name %>'s Timeline</h2>
			<li class="active"><a href="#section1">Vaccinations</a></li>
			<li><a href="#section2">Feeding and Nutrition</a></li>
			<li><a href="#section3">Growth and Development</a></li>
			<%= form_tag("/timelines/#{params[:id]}", method: "put", id: "saveForm") do %>
				<%= hidden_field_tag(:formData, "test2") %>
				<%= submit_tag("Save Changes", class: "btn btn-default disabled", id: "saveChangesButton", onclick: "updateFormData()") %>
			<% end %>
		  </ul>
		</nav>
		<div class="col-sm-9">
			<div class="scrollspy-section" id="section1">
				<h1>Vaccination Schedule</h1>
				<table class="table">
					<thead>
					  <tr>
						<th>Vaccine</th>
						<th>Age</th>
						<th class="col-sm-5">Date</th>
					  </tr>
					</thead>
					<tbody id="vaccineBody">
					  <%= render @vaccinations %>
					  <tr>
						<td colspan="3">
							<button type="button" class="btn btn-info" onclick="addVacc(this)">Add Vaccine</button>
						</td>
					  </tr>
					</tbody>
				</table>
			  </div>
				<br />
			  <div class="scrollspy-section" id="section2">
				<h1>Feeding and Nutrition</h1>
				<h3>Allergies</h3>
				<table class="table">
					<thead>
					  <tr>
						<th>Allergen</th>
						<th class="col-sm-6">Severity</th>
					  </tr>
					</thead>
					<tbody id="allergyBody">
					  <%= render @allergies %>
					  <tr>
						<td colspan="3">
							<button type="button" class="btn btn-info" onclick="addAllergy(this)">Add Allergy</button>
						</td>
					  </tr>
					</tbody>
				</table>
				<h3>Year 1</h3>
				<table class="table">
					<thead>
					  <tr>
						<th>Event</th>
						<th>Age</th>
						<th>Date</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>Began breastfeeding or infant formula</td>
						<td>0-6 Months</td>
						<td>Incomplete<i id="fed1.1" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Begin solid food</td>
						<td>6-9 Months</td>
						<td>Incomplete<i id="fed1.2" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Transition to cow's milk</td>
						<td>9-12 Months</td>
						<td>Incomplete<i id="fed1.3" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					</tbody>
				</table>
				<h3>Year 2</h3>
			  </div>
				<br />
			  <div class="scrollspy-section" id="section3">
				<h1>Growth and Development</h1>
				<h3>Year 1</h3>
				<h4 class="text-right">Month 1</h4>
				<table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th>Date</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>Communication</td>
						<td>Responds to sound</td>
						<td>Older</td>
						<td>Incomplete<i id="dev1.1" id="dev3.3" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Communication</td>
						<td>Focusses on faces</td>
						<td>Older</td>
						<td>Incomplete<i id="dev1.2" id="dev3.3" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					</tbody>
				  </table>
				  <h4 class="text-right">Month 2</h4>
				  <table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th>Date</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>Communication</td>
						<td>Smiles, blows bubbles, or coos</td>
						<td>Older</td>
						<td>Incomplete<i id="dev2.1" id="dev3.3" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Communication</td>
						<td>Calms down when comforted</td>
						<td>Older</td>
						<td>Incomplete<i id="dev2.2" id="dev3.3" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Moves arms and legs</td>
						<td>Older</td>
						<td>Incomplete<i id="dev2.3" id="dev3.3" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					</tbody>
				  </table>
				  <h4 class="text-right">Month 3</h4>
				  <table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th>Date</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>Gross Motor</td>
						<td>Rolls from front to back</td>
						<td>Older</td>
						<td>Incomplete<i id="dev3.1" id="dev3.3" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Controls head and neck when sitting with support</td>
						<td>Older</td>
						<td>Incomplete<i id="dev3.2" id="dev3.3" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Raises head and chest when lying on stomach</td>
						<td>Older</td>
						<td>Incomplete<i id="dev3.3" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Kicks legs when lying down</td>
						<td>Older</td>
						<td>Incomplete<i id="dev3.4" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Brings hands together</td>
						<td>Older</td>
						<td>Incomplete<i id="dev3.5" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Opens and shuts mouth</td>
						<td>Older</td>
						<td>Incomplete<i id="dev3.6" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Brings hands to mouth</td>
						<td>Older</td>
						<td>Incomplete<i id="dev3.7" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					</tbody>
				  </table>
				  <h4 class="text-right">Month 4</h4>
				  <table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th>Date</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>Communication</td>
						<td>Responds to voices, laughs and smiles</td>
						<td>Older</td>
						<td>Incomplete<i id="dev4.1" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Support self on forearms</td>
						<td>Older</td>
						<td>Incomplete<i id="dev4.2" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Keeps head in midline when on back</td>
						<td>Older</td>
						<td>Incomplete<i id="dev4.3" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Follows object or person with eyes</td>
						<td>Older</td>
						<td>Incomplete<i id="dev4.4" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Reaches for object when sitting</td>
						<td>Older</td>
						<td>Incomplete<i id="dev4.5" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Holds objects briefly</td>
						<td>Older</td>
						<td>Incomplete<i id="dev4.6" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					</tbody>
				  </table>
				  <h4 class="text-right">Month 6</h4>
				  <table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th>Date</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>Communication</td>
						<td>Responds to name</td>
						<td>Older</td>
						<td>Incomplete<i id="dev6.1" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Communication</td>
						<td>Vocalizes pleasure or displeasure</td>
						<td>Older</td>
						<td>Incomplete<i id="dev6.2" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Communication</td>
						<td>Imitates simple sounds</td>
						<td>Older</td>
						<td>Incomplete<i id="dev6.3" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Push up on hands when on stomach</td>
						<td>Older</td>
						<td>Incomplete<i id="dev6.4" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Roll from back to side</td>
						<td>Older</td>
						<td>Incomplete<i id="dev6.5" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					</tbody>
				  </table>
				  <h4 class="text-right">Month 9</h4>
				  <table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th>Date</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>Communication</td>
						<td>Imitates facial expressions</td>
						<td>Older</td>
						<td>Incomplete<i id="dev9.1" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Communication</td>
						<td>Plays social games (e.g. Peek-a-boo)</td>
						<td>Older</td>
						<td>Incomplete<i id="dev9.2" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Sits unassisted</td>
						<td>Older</td>
						<td>Incomplete<i id="dev9.3" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Stands with assistance</td>
						<td>Older</td>
						<td>Incomplete<i id="dev9.4" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Passes objects from hand to hand</td>
						<td>Older</td>
						<td>Incomplete<i id="dev9.5" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Picks up small objects with thumb and forefinger</td>
						<td>Older</td>
						<td>Incomplete<i id="dev9.6" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					</tbody>
				  </table>
				  <h4 class="text-right">Month 12</h4>
				  <table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th>Date</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>Communication</td>
						<td>Communicates with gestures</td>
						<td>Older</td>
						<td>Incomplete<i id="dev12.1" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Communication</td>
						<td>Combines multiple sounds</td>
						<td>Older</td>
						<td>Incomplete<i id="dev12.2" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Communication</td>
						<td>Expresses emotions</td>
						<td>Older</td>
						<td>Incomplete<i id="dev12.3" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Cognitive</td>
						<td>Follows one-step instructions</td>
						<td>Older</td>
						<td>Incomplete<i id="dev12.4" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Crawls or shuffles</td>
						<td>Older</td>
						<td>Incomplete<i id="dev12.5" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Can pull up to standing position</td>
						<td>Older</td>
						<td>Incomplete<i id="dev12.6" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Walk while holding hand</td>
						<td>Older</td>
						<td>Incomplete<i id="dev12.7" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Stand briefly unassisted</td>
						<td>Older</td>
						<td>Incomplete<i id="dev12.8" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Release objects voluntarily</td>
						<td>Older</td>
						<td>Incomplete<i id="dev12.9" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Pokes with index finger</td>
						<td>Older</td>
						<td>Incomplete<i id="dev12.10" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Pushes and pulls toys</td>
						<td>Older</td>
						<td>Incomplete<i id="dev12.11" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Pokes with index finger</td>
						<td>Older</td>
						<td>Incomplete<i id="dev12.12" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Puts objects in containers</td>
						<td>Older</td>
						<td>Incomplete<i id="dev12.13" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					</tbody>
				  </table>
				<h3>Year 2</h3>
				<h4 class="text-right">Month 15</h4>
				<table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th>Date</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>Communication</td>
						<td>Uses more than five words</td>
						<td>Older</td>
						<td>Incomplete<i id="dev15.1" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Communication</td>
						<td>Shows something with words and actions</td>
						<td>Older</td>
						<td>Incomplete<i id="dev15.2" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Communication</td>
						<td>Repeats actions for attention</td>
						<td>Older</td>
						<td>Incomplete<i id="dev15.3" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Cognition</td>
						<td>Looks at pictures while they are named</td>
						<td>Older</td>
						<td>Incomplete<i id="dev15.4" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Cognition</td>
						<td>Recognizes body parts on self</td>
						<td>Older</td>
						<td>Incomplete<i id="dev15.5" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Crawls up stairs</td>
						<td>Older</td>
						<td>Incomplete<i id="dev15.6" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Walks sideways holding on to furniture</td>
						<td>Older</td>
						<td>Incomplete<i id="dev15.7" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Removes socks</td>
						<td>Older</td>
						<td>Incomplete<i id="dev15.8" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Stacks blocks</td>
						<td>Older</td>
						<td>Incomplete<i id="dev15.9" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Picks up and eats finger food</td>
						<td>Older</td>
						<td>Incomplete<i id="dev15.10" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					</tbody>
				  </table>
				  <h4 class="text-right">Month 18</h4>
				  <table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th>Date</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>Communication</td>
						<td>Responds to simple questions</td>
						<td>Older</td>
						<td>Incomplete<i id="dev18.1" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Communication</td>
						<td>Makes a variety of consonant sounds</td>
						<td>Older</td>
						<td>Incomplete<i id="dev18.2" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i><td>
					  </tr>
					  <tr>
						<td>Communication</td>
						<td>Shows affection to pets, toys, people</td>
						<td>Older</td>
						<td>Incomplete<i id="dev18.3" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Cognitive</td>
						<td>Understands directionality (in/out, up/down)</td>
						<td>Older</td>
						<td>Incomplete<i id="dev18.4" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Cognitive</td>
						<td>Identifies pictures in books</td>
						<td>Older</td>
						<td>Incomplete<i id="dev18.5" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Walks without assistance</td>
						<td>Older</td>
						<td>Incomplete<i id="dev18.6" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Squats to pick up toys without falling</td>
						<td>Older</td>
						<td>Incomplete<i id="dev18.7" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Holds cup to drink</td>
						<td>Older</td>
						<td>Incomplete<i id="dev18.8" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					</tbody>
				  </table>
				  <h4 class="text-right">Month 24</h4>
				  <table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th>Date</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>Communication</td>
						<td>Uses pronouns</td>
						<td>Older</td>
						<td>Incomplete<i id="dev24.1" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Communication</td>
						<td>Uses short phrases</td>
						<td>Older</td>
						<td>Incomplete<i id="dev24.2" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i><td>
					  </tr>
					  <tr>
						<td>Communication</td>
						<td>Can be understood when speaking</td>
						<td>Older</td>
						<td>Incomplete<i id="dev24.3" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Communication</td>
						<td>Socializes with children of same age</td>
						<td>Older</td>
						<td>Incomplete<i id="dev24.4" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Cognitive</td>
						<td>Follows two-step directions</td>
						<td>Older</td>
						<td>Incomplete<i id="dev24.5" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Cognitive</td>
						<td>Copies actions</td>
						<td>Older</td>
						<td>Incomplete<i id="dev24.6" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Cognitive</td>
						<td>Correctly holds books and flips pages</td>
						<td>Older</td>
						<td>Incomplete<i id="dev24.7" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Begins to run</td>
						<td>Older</td>
						<td>Incomplete<i id="dev24.8" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Gross Motor</td>
						<td>Walks backwards and sideways</td>
						<td>Older</td>
						<td>Incomplete<i id="dev24.9" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Eats with utensil with some spilling</td>
						<td>Older</td>
						<td>Incomplete<i id="dev24.10" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					  <tr>
						<td>Fine Motor</td>
						<td>Takes off shoes</td>
						<td>Older</td>
						<td>Incomplete<i id="dev24.11" class="fa fa-pencil pull-right" onclick="editFunc(this,this.id)"></i></td>
					  </tr>
					</tbody>
				  </table>
			  </div>
		</div>
	  </div>
