<% provide(:title, "Timeline") %>
<% provide(:extra_body_shit, raw(" data-spy='scroll' data-target='#myScrollspy' data-offset='0'")) %>
<div hidden id="birthdate" title="<%= @date_of_birth.strftime('%m/%d/%Y') %>"></div>
<div hidden id="milestones" title="<%= @timeline.milestones.map { |milestone| milestone.milestone_id } %>"></div>
	  <div class="row">
		<nav class="col-sm-3" id="myScrollspy">
		  <ul class="nav nav-pills nav-stacked" style="padding-top:80px;">
			<h2><%= @timeline.child.first_name %>'s Timeline</h2>
			<li class="active"><a href="#section1">Vaccinations</a></li>
			<li><a href="#section2">Feeding and Nutrition</a></li>
			<li><a href="#section3">Growth and Development</a></li>
			<%= form_tag("/timelines/#{params[:id]}", method: "put", id: "saveForm") do %>
				<%= hidden_field_tag(:formData, "test2") %>
				<%= submit_tag("Save Changes", class: "btn btn-default disabled", id: "saveChangesButton", onclick: "updateFormData()") %>
			<% end %>
		  </ul>
		</nav>
		<div class="col-sm-9">
			<div class="scrollspy-section" id="section1">
				<h1>Vaccination Schedule</h1>
				<table class="table">
					<thead>
					  <tr>
						<th>Vaccine</th>
						<th>Age</th>
						<th class="col-sm-5">Date</th>
					  </tr>
					</thead>
					<tbody id="vaccineBody">
					  <%= render @vaccinations %>
					  <tr>
						<td colspan="3">
							<button type="button" class="btn btn-info" onclick="addVacc(this)">Add Vaccine</button>
						</td>
					  </tr>
					</tbody>
				</table>
			  </div>
				<br />
			  <div class="scrollspy-section" id="section2">
				<h1>Feeding and Nutrition</h1>
				<h3>Allergies</h3>
				<table class="table">
					<thead>
					  <tr>
						<th>Allergen</th>
						<th class="col-sm-6">Severity</th>
					  </tr>
					</thead>
					<tbody id="allergyBody">
					  <%= render @allergies %>
					  <tr>
						<td colspan="3">
							<button type="button" class="btn btn-info" onclick="addAllergy(this)">Add Allergy</button>
						</td>
					  </tr>
					</tbody>
				</table>
				<h3>Year 1</h3>
				<table class="table">
					<thead>
					  <tr>
						<th>Event</th>
						<th>Age</th>
						<th class="col-sm-4">Date</th>
					  </tr>
					</thead>
					<tbody>
					  <%= raw(render_feeding_milestone("fed1.1","Begin breastfeeding or infant formula","0-6 Months")) %>
						<%= raw(render_feeding_milestone("fed1.2","Begin solid food","6-9 Months")) %>
						<%= raw(render_feeding_milestone("fed1.3","Transition to cow's milk","9-12 Months")) %>
					</tbody>
				</table>
			  </div>
				<br />
			  <div class="scrollspy-section" id="section3">
				<h1>Growth and Development</h1>
				<h3>Year 1</h3>
				<h4 class="text-right">Month 1</h4>
				<table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th class="col-sm-3">Date</th>
					  </tr>
					</thead>
					<tbody>
						<%= raw(render_development_milestone("dev1.1","Communication","Responds to sound")) %>
					  <%= raw(render_development_milestone("dev1.2","Communication","Focuses on faces")) %>

					</tbody>
				  </table>
				  <h4 class="text-right">Month 2</h4>
				  <table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th class="col-sm-3">Date</th>
					  </tr>
					</thead>
					<tbody>
						<%= raw(render_development_milestone("dev2.1","Communication","Smiles, blows bubbles, or coos")) %>
						<%= raw(render_development_milestone("dev2.2","Communication","Calms down when comforted")) %>
						<%= raw(render_development_milestone("dev2.3","Communication","Moves arms and legs")) %>
					</tbody>
				  </table>
				  <h4 class="text-right">Month 3</h4>
				  <table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th class="col-sm-3">Date</th>
					  </tr>
					</thead>
					<tbody>
						<%= raw(render_development_milestone("dev3.1","Gross Motor","Rolls from front to back")) %>
					  <%= raw(render_development_milestone("dev3.2","Gross Motor","Controls head and neck when sitting with support")) %>
						<%= raw(render_development_milestone("dev3.3","Gross Motor","Raises head and chest when lying on stomach")) %>
						<%= raw(render_development_milestone("dev3.4","Gross Motor","Kicks legs when lying down")) %>
						<%= raw(render_development_milestone("dev3.5","Fine Motor","Brings hands together")) %>
					  <%= raw(render_development_milestone("dev3.6","Fine Motor","Opens and shuts mouth")) %>
						<%= raw(render_development_milestone("dev3.7","Fine Motor","Brings hands to mouth")) %>
					</tbody>
				  </table>
				  <h4 class="text-right">Month 4</h4>
				  <table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th class="col-sm-3">Date</th>
					  </tr>
					</thead>
					<tbody>
						<%= raw(render_development_milestone("dev4.1","Communication","Responds to voices, laughs and smiles")) %>
					  <%= raw(render_development_milestone("dev4.2","Gross Motor","Support self on forearms")) %>
					  <%= raw(render_development_milestone("dev4.3","Gross Motor","Keeps head in midline when on back")) %>
					  <%= raw(render_development_milestone("dev4.4","Fine Motor","Follows object or person with eyes")) %>
					  <%= raw(render_development_milestone("dev4.5","Fine Motor","Reaches for object when sitting")) %>
						<%= raw(render_development_milestone("dev4.6","Fine Motor","Holds objects briefly")) %>
					</tbody>
				  </table>
				  <h4 class="text-right">Month 6</h4>
				  <table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th class="col-sm-3">Date</th>
					  </tr>
					</thead>
					<tbody>
						<%= raw(render_development_milestone("dev6.1","Communication","Responds to name")) %>
					  <%= raw(render_development_milestone("dev6.2","Communication","Vocalizes pleasure or displeasure")) %>
						<%= raw(render_development_milestone("dev6.3","Communication","Imitates simple sounds")) %>
					  <%= raw(render_development_milestone("dev6.4","Gross Motor","Push up on hands when on stomach")) %>
						<%= raw(render_development_milestone("dev6.5","Gross Motor","Roll from back to side")) %>
					</tbody>
				  </table>
				  <h4 class="text-right">Month 9</h4>
				  <table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th class="col-sm-3">Date</th>
					  </tr>
					</thead>
					<tbody>
						<%= raw(render_development_milestone("dev9.1","Communication","Imitates facial expressions")) %>
					  <%= raw(render_development_milestone("dev9.2","Communication","Plays social games (e.g. Peek-a-boo)")) %>
						<%= raw(render_development_milestone("dev9.3","Gross Motor","Sits unassisted")) %>
					  <%= raw(render_development_milestone("dev9.4","Gross Motor","Stands with assistance")) %>
					  <%= raw(render_development_milestone("dev9.5","Fine Motor","Passes objects from hand to hand")) %>
					  <%= raw(render_development_milestone("dev9.6","Fine Motor","Picks up small objects with thumb and forefinger")) %>
					</tbody>
				  </table>
				  <h4 class="text-right">Month 12</h4>
				  <table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th class="col-sm-3">Date</th>
					  </tr>
					</thead>
					<tbody>
						<%= raw(render_development_milestone("dev12.1","Communication","Communicates with gestures")) %>
					  <%= raw(render_development_milestone("dev12.2","Communication","Combines multiple sounds")) %>
						<%= raw(render_development_milestone("dev12.3","Communication","Expresses emotions")) %>
						<%= raw(render_development_milestone("dev12.4","Cognition","Follows one-step instructions")) %>
						<%= raw(render_development_milestone("dev12.5","Gross Motor","Crawls or shuffles")) %>
						<%= raw(render_development_milestone("dev12.6","Gross Motor","Can pull up to standing position")) %>
						<%= raw(render_development_milestone("dev12.7","Gross Motor","Walk while holding hand")) %>
						<%= raw(render_development_milestone("dev12.8","Gross Motor","Stand briefly unassisted")) %>
					  <%= raw(render_development_milestone("dev12.9","Fine Motor","Release objects voluntarily")) %>
						<%= raw(render_development_milestone("dev12.10","Fine Motor","Pokes with index finger")) %>
						<%= raw(render_development_milestone("dev12.11","Fine Motor","Pushes and pulls toys")) %>
						<%= raw(render_development_milestone("dev12.12","Fine Motor","Puts objects in containers")) %>
					</tbody>
				  </table>
				<h3>Year 2</h3>
				<h4 class="text-right">Month 15</h4>
				<table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th class="col-sm-3">Date</th>
					  </tr>
					</thead>
					<tbody>
						<%= raw(render_development_milestone("dev15.1","Communication","Uses more than five words")) %>
					  <%= raw(render_development_milestone("dev15.2","Communication","Shows something with words and actions")) %>
						<%= raw(render_development_milestone("dev15.3","Communication","Repeats actions for attention")) %>
						<%= raw(render_development_milestone("dev15.4","Cognition","Looks at pictures while they are named")) %>
					  <%= raw(render_development_milestone("dev15.5","Cognition","Recognizes body parts on self")) %>
					  <%= raw(render_development_milestone("dev15.6","Gross Motor","Crawls up stairs")) %>
						<%= raw(render_development_milestone("dev15.7","Gross Motor","Walks sideways holding on to furniture")) %>
					  <%= raw(render_development_milestone("dev15.8","Fine Motor","Removes socks")) %>
					  <%= raw(render_development_milestone("dev15.9","Fine Motor","Stacks blocks")) %>
						<%= raw(render_development_milestone("dev15.10","Fine Motor","Picks up and eats finger food")) %>

					</tbody>
				  </table>
				  <h4 class="text-right">Month 18</h4>
				  <table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th class="col-sm-3">Date</th>
					  </tr>
					</thead>
					<tbody>
						<%= raw(render_development_milestone("dev18.1","Communication","Responds to simple questions")) %>
						<%= raw(render_development_milestone("dev18.2","Communication","Makes a variety of consonant sounds")) %>
						<%= raw(render_development_milestone("dev18.3","Communication","Shows affection to pets, toys, people")) %>
						<%= raw(render_development_milestone("dev18.4","Cognition","Understands directionality (in/out, up/down)")) %>
						<%= raw(render_development_milestone("dev18.5","Cognition","Identifies pictures in books")) %>
						<%= raw(render_development_milestone("dev18.6","Gross Motor","Walks without assistance")) %>
						<%= raw(render_development_milestone("dev18.7","Gross Motor","Squats to pick up toys without falling")) %>
					  <%= raw(render_development_milestone("dev18.8","Fine Motor","Holds cup to drink")) %>
					</tbody>
				  </table>
				  <h4 class="text-right">Month 24</h4>
				  <table class="table">
					<thead>
					  <tr>
						<th>Category</th>
						<th>Event</th>
						<th>Age</th>
						<th class="col-sm-3">Date</th>
					  </tr>
					</thead>
					<tbody>
						<%= raw(render_development_milestone("dev18.1","Communication","Uses pronouns")) %>
						<%= raw(render_development_milestone("dev18.2","Communication","Uses short phrases")) %>
						<%= raw(render_development_milestone("dev18.3","Communication","Can be understood when speaking")) %>
						<%= raw(render_development_milestone("dev18.4","Communication","Socializes with children of same age")) %>
						<%= raw(render_development_milestone("dev18.5","Cognition","Follows two-step directions")) %>
						<%= raw(render_development_milestone("dev18.6","Cognition","Copies actions")) %>
						<%= raw(render_development_milestone("dev18.7","Cognition","Correctly holds books and flips pages")) %>
						<%= raw(render_development_milestone("dev18.8","Gross Motor","Begins to run")) %>
						<%= raw(render_development_milestone("dev18.9","Gross Motor","Walks backwards and sideways")) %>
					  <%= raw(render_development_milestone("dev18.10","Fine Motor","Eats with utensil with some spilling")) %>
						<%= raw(render_development_milestone("dev18.11","Fine Motor","Takes off shoes")) %>
					</tbody>
				  </table>
			  </div>
		</div>
	  </div>
